In [135]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import requests
import pandas as pd
import re
from time import sleep

In [136]:
url = 'https://www.rew.ca/properties/areas/surrey-bc/type/house/page/1?list_price_to=3000000&only_open_house=0&searchable_id=1&searchable_type=Geography&total_floor_area_from=500'

In [137]:
executable_path= {'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [138]:
browser.visit(url)

In [139]:
html=browser.html
soup = BeautifulSoup(html, 'html.parser')

In [140]:
prices=[]
list=[[],[],[]]
#list[0] bedrooms
#list[1] bathrooms 
#list[2] sqft
addresses=[]
for j in range(25):
    browser.visit(f'https://www.rew.ca/properties/areas/surrey-bc/type/house/page/{j+1}?list_price_to=3000000&only_open_house=0&searchable_id=1&searchable_type=Geography&total_floor_area_from=500')
    sleep(1)
    html=browser.html
    soup = BeautifulSoup(html, 'html.parser')
    results=soup.find_all('div', class_="displaypanel-title hidden-xs")
    for result in results:
        prices.append(result.text)
    if len(prices)%22 != 0:
        print('issue with number of prices being fetched')
        print(len(prices))
    results2= soup.find_all('div', class_="displaypanel-section clearfix")
    for result in results2:
        resultlist=result.find_all('li')
        for i in range(3):
            list[i].append(resultlist[i].text)
    if len(list[0])%22 != 0:
        print('issue with number of bedrooms being fetched')
        print(len(list[0]))
    if len(list[1])%22 != 0:
        print(len(list[1]))
        print('issue with number of bathrooms being fetched')
    if len(list[2])%22 != 0:
        print(len(list[2]))
        print('issue with number of squarefeet entries being fetched')
    results3=soup.find_all('div', class_="displaypanel-section")
    for k in range(int(len(results3)/2)):
        s=results3[k*2].text
        stringaddress = re.search('\n(.*)\n', s).group(1)
        addresses.append(stringaddress)
    if len(addresses)%22 != 0:
        print(len(addresses)) 
        print('issue with number of addresses being fetched')

In [141]:
houses=pd.DataFrame()
houses['price']=prices
houses['bedrooms']=list[0]
houses['bathrooms']=list[1]
houses['sqft']=list[2]
houses['address']=addresses
houses.head()

550
550
550
550
550

            price bedrooms bathrooms     sqft                    address
0  \n$1,498,900\n     5 bd      5 ba  3723 sf  15691 Mountain View Drive
1  \n$1,668,800\n     5 bd      3 ba  3514 sf        3081 Hillview Court
2  \n$1,279,800\n     8 bd      6 ba  3873 sf           7420 124b Street
3  \n$1,788,000\n     5 bd      5 ba  5012 sf           11218 163 Street
4    \n$950,000\n     5 bd      4 ba  2565 sf            16577 60 Avenue

In [142]:
lastcol2=[]
del list

for price in list(houses['price']): 
    pricelist= re.findall("\d+", price)
    full=''
    for entry in pricelist:
        full=full+entry
    lastcol2.append(int(full))
houses['price']=lastcol2
houses.head()

     price bedrooms bathrooms     sqft                    address
0  1498900     5 bd      5 ba  3723 sf  15691 Mountain View Drive
1  1668800     5 bd      3 ba  3514 sf        3081 Hillview Court
2  1279800     8 bd      6 ba  3873 sf           7420 124b Street
3  1788000     5 bd      5 ba  5012 sf           11218 163 Street
4   950000     5 bd      4 ba  2565 sf            16577 60 Avenue

In [143]:
lastcol2=[]

for bed in list(houses['bedrooms']): 
    bedlist= re.findall("\d+", bed)
    sum=0
    for entry in bedlist:
        sum=sum+int(entry)
    lastcol2.append(sum)
print(len(lastcol2))
houses['bedrooms']=lastcol2
houses.head()

550

     price  bedrooms bathrooms     sqft                    address
0  1498900         5      5 ba  3723 sf  15691 Mountain View Drive
1  1668800         5      3 ba  3514 sf        3081 Hillview Court
2  1279800         8      6 ba  3873 sf           7420 124b Street
3  1788000         5      5 ba  5012 sf           11218 163 Street
4   950000         5      4 ba  2565 sf            16577 60 Avenue

In [144]:
lastcol2=[]

for bath in list(houses['bathrooms']): 
    bathlist= re.findall("\d+", bath)
    sum=0
    for entry in bathlist:
        sum=sum+int(entry)
    lastcol2.append(sum)
print(len(lastcol2))
houses['bathrooms']=lastcol2
houses.head()

550

     price  bedrooms  bathrooms     sqft                    address
0  1498900         5          5  3723 sf  15691 Mountain View Drive
1  1668800         5          3  3514 sf        3081 Hillview Court
2  1279800         8          6  3873 sf           7420 124b Street
3  1788000         5          5  5012 sf           11218 163 Street
4   950000         5          4  2565 sf            16577 60 Avenue

In [145]:
lastcol2=[]

for sq in list(houses['sqft']): 
    sqlist= re.findall("\d+", sq)
    sum=0
    for entry in sqlist:
        sum=sum+int(entry)
    lastcol2.append(sum)
print(len(lastcol2))
houses['sqft']=lastcol2
houses.head()

550

     price  bedrooms  bathrooms  sqft                    address
0  1498900         5          5  3723  15691 Mountain View Drive
1  1668800         5          3  3514        3081 Hillview Court
2  1279800         8          6  3873           7420 124b Street
3  1788000         5          5  5012           11218 163 Street
4   950000         5          4  2565            16577 60 Avenue

In [146]:
houses.to_json('housesurrey.json')

In [147]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [148]:
X = houses[['bedrooms','bathrooms','sqft']]
y = houses['price']

In [149]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.33)

In [150]:
model=LinearRegression()

In [151]:
#X_train=X_train.values.reshape(-1,1)
#X_test=X_test.values.reshape(-1,1)
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [152]:
model.score(X_train,y_train)

0.5343862629950649

In [153]:
model.score(X_test,y_test)

0.46764173201943415

In [154]:
model.coef_

array([-93230.82004203, -49327.53138228,    397.54552998])

In [155]:
houses.loc[houses['bedrooms'].idxmax()]

price                  1448000
bedrooms                    10
bathrooms                    6
sqft                      4477
address      10950 142b Street
Name: 72, dtype: object

In [156]:
houses.loc[houses['bathrooms'].idxmax()]

price                2299900
bedrooms                   9
bathrooms                 10
sqft                    8405
address      5585 148 Street
Name: 425, dtype: object

In [157]:
houses.loc[houses['sqft'].idxmax()]

price                2299900
bedrooms                   9
bathrooms                 10
sqft                    8405
address      5585 148 Street
Name: 425, dtype: object